./ijepa/logs/tiny_vit/jepa_r0.csv
./ijepa/logs/tiny_vit/jepa-latest.pth.tar
./ijepa/logs/tiny_vit/jepa-ep50.pth.tar
./ijepa/src/data/cifar-10-batches-py/data_batch_3
./ijepa/src/data/cifar-10-batches-py/data_batch_1
./ijepa/src/data/cifar-10-batches-py/data_batch_2
./ijepa/src/data/cifar-10-batches-py/test_batch
./ijepa/src/data/cifar-10-batches-py/data_batch_5
./ijepa/src/data/cifar-10-batches-py/data_batch_4
./ijepa/src/data/MNIST/raw/train-images-idx3-ubyte.gz
./ijepa/src/data/MNIST/raw/train-images-idx3-ubyte
./ijepa/src/data/MNIST/raw/t10k-images-idx3-ubyte
./ijepa/src/data/cifar-10-python.tar.gz
./ijepa/wandb/run-20240629_164637-ifdcbhye/logs/debug-internal.log
./ijepa/wandb/run-20240629_164637-ifdcbhye/run-ifdcbhye.wandb
./ijepa/wandb/run-20240629_164637-ifdcbhye/files/output.log
./ijepa/wandb/run-20240628_104606-6r7hv40c/logs/debug-internal.log
./ijepa/wandb/run-20240628_104606-6r7hv40c/run-6r7hv40c.wandb
./ijepa/wandb/run-20240628_142705-h8zqcy8d/run-h8zqcy8d.wandb
./ijepa/wandb/run-20240628_142705-h8zqcy8d/logs/debug-internal.log
./ijepa//cifar-10-batches-py/data_batch_3
./ijepa//cifar-10-batches-py/data_batch_1
./ijepa//cifar-10-batches-py/data_batch_2
./ijepa//cifar-10-batches-py/test_batch
./ijepa//cifar-10-batches-py/data_batch_5
./ijepa//cifar-10-batches-py/data_batch_4
./ijepa//cifar-10-python.tar.gz
./ijepa/data/cifar-10-batches-py/data_batch_3
./ijepa/data/cifar-10-batches-py/data_batch_1
./ijepa/data/cifar-10-batches-py/data_batch_2
./ijepa/data/cifar-10-batches-py/test_batch
./ijepa/data/cifar-10-batches-py/data_batch_5
./ijepa/data/cifar-10-batches-py/data_batch_4
./ijepa/data/cifar-10-python.tar.gz
ijepa/logs/tiny_vit/jepa_r0.csv
ijepa/logs/tiny_vit/jepa-latest.pth.tar
ijepa/logs/tiny_vit/jepa-ep50.pth.tar
ijepa/src/data/cifar-10-batches-py/data_batch_3
ijepa/src/data/cifar-10-batches-py/data_batch_1
ijepa/src/data/cifar-10-batches-py/data_batch_2
ijepa/src/data/cifar-10-batches-py/test_batch
ijepa/src/data/cifar-10-batches-py/data_batch_5
ijepa/src/data/cifar-10-batches-py/data_batch_4
ijepa/src/data/MNIST/raw/train-images-idx3-ubyte.gz
ijepa/src/data/MNIST/raw/train-images-idx3-ubyte
ijepa/src/data/MNIST/raw/t10k-images-idx3-ubyte
ijepa/src/data/MNIST/raw/t10k-images-idx3-ubyte.gz
ijepa/src/data/cifar-10-python.tar.gz
ijepa/wandb/run-20240629_164637-ifdcbhye/logs/debug-internal.log
ijepa/wandb/run-20240629_164637-ifdcbhye/run-ifdcbhye.wandb
ijepa/wandb/run-20240629_164637-ifdcbhye/files/output.log
ijepa/wandb/run-20240628_104606-6r7hv40c/logs/debug-internal.log
ijepa/wandb/run-20240628_104606-6r7hv40c/run-6r7hv40c.wandb
ijepa/wandb/run-20240628_142705-h8zqcy8d/run-h8zqcy8d.wandb
ijepa/wandb/run-20240628_142705-h8zqcy8d/logs/debug-internal.log
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_3
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_1
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_2
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/test_batch
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_5
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_4
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-python.tar.gz
ijepa/data/cifar-10-batches-py/data_batch_3
ijepa/data/cifar-10-batches-py/data_batch_1
ijepa/data/cifar-10-batches-py/data_batch_2
ijepa/data/cifar-10-batches-py/test_batch
ijepa/data/cifar-10-batches-py/data_batch_5
ijepa/data/cifar-10-batches-py/data_batch_4
ijepa/data/cifar-10-python.tar.gz
ijepa/logs/tiny_vit/jepa_r0.csv
ijepa/logs/tiny_vit/jepa-latest.pth.tar
ijepa/logs/tiny_vit/jepa-ep50.pth.tar
ijepa/src/data/cifar-10-batches-py/data_batch_3
ijepa/src/data/cifar-10-batches-py/data_batch_1
ijepa/src/data/cifar-10-batches-py/data_batch_2
ijepa/src/data/cifar-10-batches-py/test_batch
ijepa/src/data/cifar-10-batches-py/data_batch_5
ijepa/src/data/cifar-10-batches-py/data_batch_4
ijepa/src/data/MNIST/raw/train-images-idx3-ubyte.gz
ijepa/src/data/MNIST/raw/train-images-idx3-ubyte
ijepa/src/data/MNIST/raw/t10k-images-idx3-ubyte
ijepa/src/data/MNIST/raw/t10k-images-idx3-ubyte.gz
ijepa/src/data/cifar-10-python.tar.gz
ijepa/wandb/run-20240629_164637-ifdcbhye/logs/debug-internal.log
ijepa/wandb/run-20240629_164637-ifdcbhye/run-ifdcbhye.wandb
ijepa/wandb/run-20240629_164637-ifdcbhye/files/output.log
ijepa/wandb/run-20240628_104606-6r7hv40c/logs/debug-internal.log
ijepa/wandb/run-20240628_104606-6r7hv40c/run-6r7hv40c.wandb
ijepa/wandb/run-20240628_142705-h8zqcy8d/run-h8zqcy8d.wandb
ijepa/wandb/run-20240628_142705-h8zqcy8d/logs/debug-internal.log
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_3
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_1
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_2
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/test_batch
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_5
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-batches-py/data_batch_4
ijepa/$replace_this_with_absolute_path_to_your_datasets_directory/cifar-10-python.tar.gz
ijepa/data/cifar-10-batches-py/data_batch_3
ijepa/data/cifar-10-batches-py/data_batch_1
ijepa/data/cifar-10-batches-py/data_batch_2
ijepa/data/cifar-10-batches-py/test_batch
ijepa/data/cifar-10-batches-py/data_batch_5
ijepa/data/cifar-10-batches-py/data_batch_4
ijepa/data/cifar-10-python.tar.gz
